body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Estilos para centralização */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #818080;
}

/* Estilização adicional dos elementos */
.titulo {
    font-size: 2.5em;
    margin-bottom: 100px;
    color: #000000;
}

.rotas__link {
    display: block;
    margin: 10px 0;
    font-size: 1.5em;
    text-decoration: none;
    color: #0d00be;
    transition: color 0.3s;
}

.rotas__link:hover {
    color: #000000;
}